
html, body{
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0px none;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#root{
  width: 100%;
  padding: 0px 0.5em;
  margin: auto;
  color:black;
  background-color: #fcfcfc;
  font-size: larger;
  display: grid;
  
  
}

h1{
  color:tomato;
  display:grid;
}