* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  border: 0px none;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* movie title */
header {
  display: flex;
  background-color: darkolivegreen;
  height: 100px;
  justify-content: space-between;
  padding: 0 1em;
  width: 100%;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0, 2);
  top: 0;
  left: 0;
  z-index: 99;
}

/* section{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  text-align: center;
  margin: 0;
} */
.logo {
  width: 150px;
  height: 86px;
  margin-left: 20px;
  margin-top: 10px;
}

header h1 {
  color: tomato;
  margin-top: 0;
  background-color: blueviolet;
  font-size: 40px;
}

header #searchInput {
  width: 100px;
  background-color: rgb(248, 248, 248);
  box-sizing: 2px solid #ccc;
  border-radius: 30px;
  font-size: 14px;
  /* background-position: 10px 10px; */
  background-image: url("");
  padding: 0px 10px 2px 10px;
  transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-out;
}
header #searchInput:focus {
  width: 100%;
}

#root {
  width: 100%;
  color: black;
  background-color: #fcfcfc;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(1, 360px);
  grid-template-rows: max-content;
  gap: 5rem;
  background-color: antiquewhite;
}

/* Media query  */
/* Mobile version */
@media only screen and (min-width: 400px) {
  #root {
    display: grid;
    grid-template-columns: repeat(1, 360px);
    grid-template-rows: max-content;
    gap: 5rem;
    background-color: antiquewhite;
  }

  h1 {
    color: purple;
    text-align: left;
    font-family: sans-serif;
    font-size: 30px;
    background-color: white;
  }

  .image {
    width: 100%;
    height: 50%;
    margin-left: 2%;
    margin-left: 2%;
  }
}

/* Desktop version */
@media only screen and (min-width: 768px) {
  #root {
    grid-template-columns: repeat(auto-fill, 360px);
  }
}
